
/*---------------------------------------------------------Css de Kevin----------------------------------------------------------*/

body{
    background-color: #e0e0e0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bakeryLogo{
    font-size: 26px;
}

.nav-link{
    font-size: 22px;
    border: 2px solid #ffc6ff;
}

.btn{
    border-radius: 0px;
}

.nav-link:hover{
    border-bottom: 2px solid black;
}

.hero-bg{
    background-image: url("./img/HeroBanner/bread01.jpg");
    height: 820px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgGlass{
    background-color: rgba(0,0,0, 0.5);
}

.bgGlass2{
    background-color: rgba(0,0,0, 0.1);
}

.iconSize{
    font-size: 56px;
    padding: 0;
}

label{
    font-size: 1.2rem;
}

.imgGallery img{
    border-radius: 30px;
}

.imgGallery img:hover{
    transform: scale(1.1);


}

.carousel-control-prev, .carousel-control-next{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100px;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 50px;
    margin-inline-start: 25px;
    margin-inline-end: 25px;
}

.carouselIcon{
    font-size: 40px;
}



/*---------------------------------------------------------Css de Kevin----------------------------------------------------------*/
